{% extends 'base.html' %}
{% block content %}
<style>
    form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #c82333;
  }
</style>

<form method="POST">
    {% csrf_token %}
    <p>Are you sure want to delete??</p>
    <input type="submit">
</form>
{% endblock %}